<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>優惠券</title>
<link rel="stylesheet"
	th:href="@{/vendors/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/vendors/bootstrap/css/headers.css}">
<link rel="stylesheet" th:href="@{/css/user/template.css}">
<link rel="stylesheet" th:href="@{/vendors/bootstrap/css/dropdowns.css}">
<style>
.big-title {
	height: 100px;
	background-color: #eeeae7;
}

.coupon {
	border: 2px dashed #dee2e6;
	border-radius: 8px;
	background-color: #4CAF50;
	color: white;
	transition: transform 0.2s;
}

.coupon:hover {
	transform: translateY(-2px);
}

.coupon-amount {
	font-size: 2rem;
	font-weight: bold;
}

.scissor-line {
	border-right: 2px dashed white;
	position: relative;
}

.scissor-icon {
	position: absolute;
	right: -12px;
	top: 50%;
	background: white;
	border-radius: 50%;
	padding: 2px;
}

.coupon-details {
	font-size: 0.9rem;
}
</style>

</head>

<body>
	<!-- 標題列 -->
	<header class="p-1 border-bottom shadow-sm mt-0">
		<div class="container">
			<div
				class="d-flex flex-wrap align-items-center justify-content-center">
				<!-- 首頁logo -->
				<a th:href="@{/user/}" class="d-block"> <img
					th:src="@{/imgs/user/checKInOut_logo.png}" alt="checkinout"
					width="72" height="72">
				</a>
				<ul class="nav col justify-content-end login">
					<li><a href="#" class="nav-link px-2 link-body-emphasis">訂單查詢</a></li>
					<li><a href="#" class="nav-link px-2 link-body-emphasis">購物車</a></li>
					<li>
						<div class="dropdown">
							<a href="#"
								class="d-block link-body-emphasis text-decoration-none px-2 py-2"
								data-bs-toggle="dropdown" aria-expanded="false">登入 / 註冊 </a>
							<div
								class="dropdown-menu login dropdown-menu-end mt-3 px-3 border-0 shadow-sm">
								<form class="px-4 py-3">
									<div class="mb-3">
										<label for="email" class="form-label">Email/帳號</label> <input
											type="email" class="form-control" id="email"
											placeholder="請輸入帳號">
									</div>
									<div class="mb-3">
										<label for="password" class="form-label">密碼</label> <input
											type="password" class="form-control" id="password"
											placeholder="請輸入密碼">
									</div>
									<div class="d-grid gap-2">
										<button class="btn btn-primary" type="button">Sign in</button>
										<button class="btn btn-primary" type="button">Sign in
											with Google</button>
										<button class="btn btn-primary" type="button">Sign in</button>

									</div>

								</form>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<!-- 登入後
    <ul class="nav col justify-content-end login">
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">訂單查詢</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">購物車</a></li>
                    <li>
                        <div class="dropdown text-end px-2 py-1">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://reurl.cc/mRRMAA" alt="mdo" width="32" height="32"
                                    class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-center mt-3 border-0 shadow-sm" data-bs-display="static">
                                <li><a class="dropdown-item" href="#">會員中心</a></li>
                                <li><a class="dropdown-item" href="#">訂單管理</a></li>
                                <li><a class="dropdown-item" href="#">我的最愛</a></li>
                                <li><a class="dropdown-item" href="#">優惠券</a></li>
                                <li><a class="dropdown-item" href="#">我的評論</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">客服中心</a></li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul> -->
	<main>
		<div class="container shadow-sm">
			<div class="row big-title mb-3">
				<h1 class="text-center fw-bold display-5 col align-self-center">優惠券</h1>
			</div>
			<div class="row g-4 justify-content-center">
				<!-- Coupon1 -->
				<div class="col-5">
					<div class="coupon p-0">
						<div class="row g-0 align-items-center">
							<div class="col-4 col-md-3 p-4 text-center scissor-line">
								<div class="coupon-amount">$500</div>
								<div class="scissor-icon">✂️</div>
							</div>
							<div class="col-8 col-md-9 p-4">
								<h5 class="mb-2">蛇年行大運</h5>
								<div class="coupon-details">
									<div>使用期限：</div>
									<div>2025 01/01 00:00:00</div>
									<div>2025 01/31 23:59:59</div>
									<div>最低消費1000元</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Coupon2 -->
				<div class="col-5">
					<div class="coupon p-0">
						<div class="row g-0 align-items-center">
							<div class="col-4 col-md-3 p-4 text-center scissor-line">
								<div class="coupon-amount">$100</div>
								<div class="scissor-icon">✂️</div>
							</div>
							<div class="col-8 col-md-9 p-4">
								<h5 class="mb-2">新會員獨享</h5>
								<div class="coupon-details">
									<div>使用期限：</div>
									<div>2024 01/01 00:00:00</div>
									<div>2024 12/31 23:59:59</div>
									<div>最低消費1000元</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Coupon3 -->
				<div class="col-5">
					<div class="coupon p-0">
						<div class="row g-0 align-items-center">
							<div class="col-4 col-md-3 p-4 text-center scissor-line">
								<div class="coupon-amount">$150</div>
								<div class="scissor-icon">✂️</div>
							</div>
							<div class="col-8 col-md-9 p-4">
								<h5 class="mb-2">Check in Out三個城市</h5>
								<div class="coupon-details">
									<div>使用期限：</div>
									<div>2024 01/01 00:00:00</div>
									<div>2024 12/31 23:59:59</div>
									<div>最低消費2000元</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<footer>
	<div class="row border-top mt-3">
		<div class="container">
			<ul class="nav justify-content-center">
				<li class="nav-item"><a th:href="@{/user/}"
					class="nav-link px-2 text-body-secondary">首頁</a></li>
				<li class="nav-item"><a th:href="@{/user/search}"
					class="nav-link px-2 text-body-secondary">找房</a></li>
				<li class="nav-item"><a href="#"
					class="nav-link px-2 text-body-secondary">購物車</a></li>
				<li class="nav-item"><a th:href="@{/user/orderedfinal}"
					class="nav-link px-2 text-body-secondary">訂單管理</a></li>
				<li class="nav-item"><a th:href="@{/user/faq}"
					class="nav-link px-2 text-body-secondary">常見問題</a></li>
				<li class="nav-item"><a th:href="@{/user/contactUs}"
					class="nav-link px-2 text-body-secondary">聯繫我們</a></li>
				<li class="nav-item"><a th:href="@{/login/}"
					class="nav-link px-2 text-body-secondary">夥伴專區</a></li>
			</ul>
			<div class="d-flex justify-content-center align-items-start mb-0">
				<img th:src="@{/imgs/user/checKInOut_logo_light.png}"
					alt="checkinout" width="128">
			</div>
			<!-- <p class="text-center text-body-secondary">&copy; 2024 Check IN OUT</p> -->
		</div>
	</div>
</footer>

<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendors/jQuery/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/template.js}"></script>
</body>

</html>